        {% extends 'base.html' %}
        {% block content %}

        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light bg-warning">
            <div class="container px-4 px-lg-5">
                <a class="navbar-brand" href="{{url_for('main.index')}}" style="color:blueviolet; font-family: 'Jua', sans-serif;"><b>B a writer</b></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="{{url_for('main.index')}}" style="color:blueviolet; font-family: 'Jua', sans-serif;">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="#!" style="color:blueviolet; font-family: 'Jua', sans-serif;">QnA</a></li>
                    </ul>

                    {% if g.user %}
                    <span class="mx-5" style="font-family: 'Jua', sans-serif;">{{ g.user.member_name }}님 안녕하세요!👋🏻</span>
                    <a href="{{url_for('auth.logout')}}" class="btn btn-success" style="font-family: 'Jua', sans-serif;">로그아웃</a>
                    {% else %}
                    <a href="{{url_for('auth.login')}}" class="btn btn-success" style="font-family: 'Jua', sans-serif;">로그인</a>
                    <a href="{{url_for('auth.register')}}" class="btn btn-success" style="margin-left: 15px; font-family: 'Jua', sans-serif;">회원가입</a>
                    {% endif %}
                    
                </div>
            </div>
        </nav>
        
        <!-- Header-->
        <header class="bg-warning py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <p class="display-4 fw-bolder nav-link" style="color:blueviolet; font-family: 'Jua', sans-serif;">🎇나만의 동화책 표지 만들기🎇</p>
                    <p class="lead fw-normal text-white mb-0" style="font-family: 'Jua', sans-serif;">
                        이제 나만의 책 제목과 표지를 만들어 보아요~
                        <br>직접 만든 책 표지를 올려주세요!
                    </p>
                </div>
            </div>
        </header>
        <!-- Section-->
        <section class="py-5">
            <div class="container px-4 px-lg-5 mt-5">
                {% if not isTitle %}
                    <div class="row my-5">
                        <div class="col-2"></div>
                        <div class="col-8 text-center">
                            <form class="form-inline" role="form" method="post" action="{{url_for('book.cover', book_no=book_no)}}">
                                <input type="title" name='title' class="form-control mb-4" style="font-family: 'Jua', sans-serif;" placeholder="동화 제목을 만들어 주세요">
                                <button type="submit" class="btn btn-success" style="font-family: 'Jua', sans-serif;">제목 결정하기</button>
                            </form>
                        </div>
                    </div>
                    {% if msg1 %}
                    <div class="row my-5">
                        <div class="col-2"></div>
                        <div class="col-8 text-center">
                            <p class="text-center" style="color:rgba(220, 20, 60, 0.5); font-family: 'Jua', sans-serif;">{{msg1}}</p>
                        </div>
                    </div>
                    {% endif %}

                {% else %}
                    <div class="row my-5">
                        <div class="col-2"></div>
                        <div class="col-8 text-center">
                            <form action="{{url_for('book.cover', book_no=book_no)}}" method="post"
                                enctype="multipart/form-data">
                                <div class="row mt-5 mb-4 justify-content-center">
                                    <img src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" style="width: 450px; height: 300px;" id="img" />
                                </div>
                                <input type="file" id="input_img" name ="file" style="font-family: 'Jua', sans-serif;"/>
                                <input class="btn btn-success" type="submit" style="font-family: 'Jua', sans-serif;"/>
                            </form>
                        </div>
                    </div>
                    {% if msg %}
                    <div class="row my-5">
                        <div class="col-2"></div>
                        <div class="col-8 text-center">
                            <p class="text-center" style="color:rgba(220, 20, 60, 0.5); font-family: 'Jua', sans-serif;">
                                {% for m in msg %}
                                    {{m}}<br>
                                {% endfor %}
                            </p>
                            <a href="{{url_for('main.index')}}" class="btn btn-success text-center" style="font-family: 'Jua', sans-serif;">생략하기</a>
                        </div>
                    </div>
                    {% endif %}
                    
                {% endif %}
            </div>
        </section>
        
        <script>
            function readImage(input) {
                if (input.files && input.files[0]) {
                    const reader = new FileReader();
                    
                    reader.onload = (e) => {
                        const previewImage = document.getElementById('img');
                        previewImage.src = e.target.result;
                    }
                    reader.readAsDataURL(input.files[0]);
                }
            }
            // 이벤트 리스너
            document.getElementById('input_img').addEventListener('change', (e) => {
                var thumbext = document.getElementById('input_img').value; //파일을 추가한 input 박스의 값
                thumbext = thumbext.slice(thumbext.indexOf(".") + 1).toLowerCase(); //파일 확장자를 잘라내고, 비교를 위해 소문자로
                if(thumbext != "jpg" && thumbext != "png" &&  thumbext != "gif" &&  thumbext != "bmp"){
                    alert('표지는 이미지 파일(jpg, png, gif, bmp)만 등록 가능합니다.');
                    location.href="{{url_for('book.cover', book_no=book_no)}}"
                }
                readImage(e.target);
            });
        </script>
        {% endblock %}
