        {% extends 'base.html' %}
        {% block content %}

        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light bg-warning">
            <div class="container px-4 px-lg-5">
                <a class="navbar-brand" href="{{url_for('main.index')}}" style="color:blueviolet; font-family: 'Jua', sans-serif;"><b>B a writer</b></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="{{url_for('main.index')}}" style="color:blueviolet; font-family: 'Jua', sans-serif;">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="#!" style="color:blueviolet; font-family: 'Jua', sans-serif;">QnA</a></li>
                    </ul>
                    
                    {% if g.user %}
                    <span class="mx-5" style="font-family: 'Jua', sans-serif;">{{ g.user.member_name }}님 안녕하세요!👋🏻</span>
                    <a href="{{url_for('auth.logout')}}" class="btn btn-success" style="font-family: 'Jua', sans-serif;">로그아웃</a>
                    {% else %}
                    <a href="{{url_for('auth.login')}}" class="btn btn-success" style="font-family: 'Jua', sans-serif;">로그인</a>
                    <a href="{{url_for('auth.register')}}" class="btn btn-success" style="margin-left: 15px; font-family: 'Jua', sans-serif;">회원가입</a>
                    {% endif %}

                </div>
            </div>
        </nav>
        <!-- Section-->
        <section class="py-5">
            <div class="container px-4 px-lg-5 mt-4">
                <div class="row mb-5">
                    <div class="col-6 text-center">
                        <form method="post" class="justify-content-center">
                            <h4 style="font-family: 'Jua', sans-serif;">동화를 써주세요!😊</h4>
                            <p style="font-size:large;"><textarea rows=5 name='writecontent' id='writecontent' placeholder="동화 내용 입력하기" style="width:100%; border:solid 5px; border-color:blueviolet;" autofocus></textarea></p>
                            <button id="btn1" class="btn btn-success mx-2" style="font-family: 'Jua', sans-serif;">동화에 바로 넣기</button>
                            <button class="btn btn-success mx-2" style="font-family: 'Jua', sans-serif;">도움받기</button>
                            {% if msg %}
                            <p class="my-3" style="color:rgba(220, 20, 60, 0.5); font-family: 'Jua', sans-serif;">{{msg}}</p>
                            {% endif %}
                        </form>
                    </div>
                    <div class="col-6 text-center justify-content-center">
                        <h4 style="font-family: 'Jua', sans-serif;">도움을 줄게요!😉</h4>
                        <p style="font-size:large;">
                            <textarea rows=5 name=content placeholder="도움받기 버튼을 눌러주세요" style="width:100%; border:solid 5px; border-color:blueviolet;"></textarea>
                            <!-- 동화다동화다동화다동화다동화다동화다동화다동화다동화다동화다동화다동화다동화다동화다동화다동화다동화다동화다동화다동화다동화다동화다동화다동화다동화다동화다동화다동화다동화다동화다동화다동화다동화다동화다동화다동화다동화다동화다동화다동화다동화다동화다동화다동화다동화다동화다동화다동화다동화다동화다동화다동화다동화다동화다동화다동화다동화다동화다 -->
                        </p>
                        <button class="btn btn-success mx-2" type="submit" style="font-family: 'Jua', sans-serif;">동화에 넣기</button>
                    </div>
                </div>
                <div class="row text-center justify-content-center">
                    <h4 style="font-family: 'Jua', sans-serif;">동화가 만들어지고 있어요 😎</h4>
                    <div style="overflow:auto; width:98%; height:150px; border:solid 5px; border-color:blueviolet;">
                        <p id="makedcontent" style="font-size:large;"></p>
                    </div>
                </div>
                <div class="text-center my-3">
                    <button id="btn2" class="btn btn-success" style="font-family: 'Jua', sans-serif;">완성하기</button>
                </div>
            </div>
        </section>

        <script>
            $("#btn1").click(function(){
                var writecon = $("#writecontent").val();
                var makecon = $("#makedcontent").text();
                var postdata = {
                    'inputdata' : writecon,
                    'origindata' : makecon
                }
                $.ajax({
                    type: 'POST',
                    url: "{{url_for('book.req')}}",
                    data: JSON.stringify(postdata),
                    dataType: "JSON",
                    contentType: "application/json",
                    success: function(data){
                        $("#makedcontent").text(data['origindata']+' '+data['inputdata']);
                        $("#writecontent").val('');
                        $('#writecontent').focus();
                    },
                    error: function(request, status, error){
                        alert('ajax error:['+status+']['+error+']')
                    }
                })
                return false;
            });

            $("#btn2").click(function(){
                var allcon = $("#makedcontent").text();
                var postdata = {
                    'alldata' : allcon
                }
                $.ajax({
                    type: 'POST',
                    url: "{{url_for('book.save')}}",
                    data: JSON.stringify(postdata),
                    dataType: "JSON",
                    contentType: "application/json",
                    success: function(book){
                        if (book['con']!=undefined){
                            var num = book['bookn'];
                            location.href="/book/cover/"+num
                        }
                        else{
                            alert('내용을 입력해주세요.')
                        }
                    },
                    error: function(request, status, error){
                        alert('ajax error:['+status+']['+error+']')
                    }
                })
            });

            $(document).ready(function() {
                $("#writecontent").keydown(function(key) {
                    if (key.keyCode == 13) {
                        $("#btn1").click();
                    }
                });
            });
        </script>
        
        {% endblock %}