        {% extends 'base.html' %}
        {% block content %}

        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light bg-warning">
            <div class="container px-4 px-lg-5">
                <a class="navbar-brand" href="{{url_for('main.index')}}" style="color:blueviolet; font-family: 'Jua', sans-serif;"><b>B a writer</b></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="{{url_for('main.index')}}" style="color:blueviolet; font-family: 'Jua', sans-serif;">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="{{url_for('qna.qnalist')}}" style="color:blueviolet; font-family: 'Jua', sans-serif;">QnA</a></li>
                    </ul>
                    <form class="d-flex">
                        <a href="{{url_for('auth.register')}}" class="btn btn-success" style="margin-left: 15px; font-family: 'Jua', sans-serif;">회원가입</a>
                    </form>
                </div>
            </div>
        </nav>
        <!-- Header-->
        <header class="bg-warning py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <div class='row my-5'>
                        <a class="display-4 fw-bolder nav-link" href="{{url_for('auth.login')}}" style="color:blueviolet; font-family: 'Jua', sans-serif;">LOGIN</a>
                    </div>
                    <div class='col-6' style='margin:auto;'>                                                         
                        <form class="form-inline" role="form" method="post" action="{{url_for('auth.login')}}">
                            <input type="id" name='id' class="form-control mb-3" placeholder="아이디">
                            <input type="password" name='pw' class="form-control mb-3" placeholder="비밀번호">
                            <button type="submit" class="btn btn-success mx-4 my-5" style="font-family: 'Jua', sans-serif;">로그인</button>
                            <a href="{{url_for('auth.register')}}" class="btn btn-success mx-4 my-5" style="font-family: 'Jua', sans-serif;">회원가입</a>
                        </form>
                    </div>
                    <br>

                    {% if error %}
                    <p style="color:rgba(220, 20, 60, 0.5); font-family: 'Jua', sans-serif;">{{error}}</p>
                    {% endif %}

                </div>
            </div>
        </header>

        {% endblock %}
