        {% extends 'base.html' %}
        {% block content %}

        <script>
            function check_pw(){

                var pw = document.getElementById('pw').value;
                var SC = ["!","@","#","$","%"];
                var check_SC = 0;

                if(pw.length < 6 || pw.length>16){
                    window.alert('비밀번호는 6글자 이상, 16글자 이하만 이용 가능합니다.');
                    document.getElementById('pw').value='';
                }
                for(var i=0;i<SC.length;i++){
                    if(pw.indexOf(SC[i]) != -1){
                        check_SC = 1;
                    }
                }
                if(check_SC == 0){
                    window.alert('!,@,#,$,% 의 특수문자가 들어가 있지 않습니다.')
                    document.getElementById('pw').value='';
                }

            }

        </script>
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light bg-warning">
            <div class="container px-4 px-lg-5">
                <a class="navbar-brand" href="{{url_for('main.index')}}" style="color:blueviolet; font-family: 'Jua', sans-serif;"><b>B a writer</b></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="{{url_for('main.index')}}" style="color:blueviolet; font-family: 'Jua', sans-serif;">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="{{url_for('qna.qnalist')}}" style="color:blueviolet; font-family: 'Jua', sans-serif;">QnA</a></li>
                    </ul>

                    {% if g.user %}
                    <span class="mx-5" style="font-family: 'Jua', sans-serif;">{{ g.user.member_name }}님 안녕하세요!👋🏻</span>
                    <a href="{{url_for('auth.logout')}}" class="btn btn-success" style="font-family: 'Jua', sans-serif;">로그아웃</a>
                    {% else %}
                    <a href="{{url_for('auth.login')}}" class="btn btn-success" style="font-family: 'Jua', sans-serif;">로그인</a>
                    <a href="{{url_for('auth.register')}}" class="btn btn-success" style="margin-left: 15px; font-family: 'Jua', sans-serif;">회원가입</a>
                    {% endif %}

                </div>
            </div>
        </nav>
        <!-- Header-->
        <header class="bg-warning py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <div class='row my-5'>
                        <a class="display-4 fw-bolder nav-link" href="#!" style="color:blueviolet; font-family: 'Jua', sans-serif;">SIGNUP</a>
                    </div>
                    <div class='col-6' style='margin:auto;'>                                                         
                        <form class="form-inline" role="form", method="post", action="{{url_for('auth.register')}}">
                            <input type="id", name="id", class="form-control mb-3" placeholder="아이디">
                            <input type="email", name="email", class="form-control mb-3" placeholder="이메일">
                            <input type="password", name="pw", id="pw", onchange="check_pw()", class="form-control mb-3" placeholder="비밀번호">
                            <input type="password", name="re-password", id="pw2", onchange="check_pw()", class="form-control mb-3" placeholder="비밀번호 확인">
                            <input type="name", name="name", class="form-control" placeholder="성명">
                            <input type="submit" class="btn btn-success mx-4 mt-5" style="font-family: 'Jua', sans-serif;" name="" value="회원가입하기">
                        </form>
                    </div>
                    <br>

                    {% if error %}
                    <p style="color:rgba(220, 20, 60, 0.5); font-family: 'Jua', sans-serif;">{{error}}</p>
                    {% endif %}
                </div>
            </div>
        </header>
        
        {% endblock %}