{% extends 'base.html' %}
{% block content %}

<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-light bg-warning">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand" href="{{url_for('main.index')}}" style="color:blueviolet; font-family: 'Jua', sans-serif;"><b>B a writer</b></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                <li class="nav-item"><a class="nav-link active" aria-current="page" href="{{url_for('main.index')}}" style="color:blueviolet; font-family: 'Jua', sans-serif;">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="{{url_for('qna.qnalist')}}" style="color:blueviolet; font-family: 'Jua', sans-serif;">QnA</a></li>
            </ul>

            {% if g.user %}
            <span class="mx-5" style="font-family: 'Jua', sans-serif;">{{ g.user.member_name }}님 안녕하세요!👋🏻</span>
            <a href="{{url_for('auth.logout')}}" class="btn btn-success" style="font-family: 'Jua', sans-serif;">로그아웃</a>
            {% else %}
            <a href="{{url_for('auth.login')}}" class="btn btn-success" style="font-family: 'Jua', sans-serif;">로그인</a>
            <a href="{{url_for('auth.register')}}" class="btn btn-success" style="margin-left: 15px; font-family: 'Jua', sans-serif;">회원가입</a>
            {% endif %}

        </div>
    </div>
</nav>
        <!-- Header-->
        <!-- <header class="bg-warning py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <a class="display-4 fw-bolder nav-link" href="#!" style="color:blueviolet; font-family: 'Jua', sans-serif;">나도 만들기</a>
                    <p class="lead fw-normal text-white mb-0" style="font-family: 'Jua', sans-serif;">상상의 나래를 펼쳐 보아요!</p>
                </div>
            </div>
        </header> -->
        <!-- Section-->
        <section class="py-5">
            <div class="container px-4 px-lg-5 mt-5">
                <div class="row" style="font-family: 'Gowun Batang', serif;">
                    <div class="col-1"></div>
                    <div class="col-10">
                        <h3>문의 내용</h3>
                        <hr>
                    </div>
                </div>
                
                <ul>
                <div class="row">
                    <div class="col-1"></div>
                    <div class="col-10 justify-content-center">
                        <div class="card mb-2">
                            <div class="card-header">
                                <p class="text-left" style="color: blueviolet; padding:10px; font-size:large; font-family: 'Jua', sans-serif;">
                                    {{ question.subject }}
                                </p>
                                <p style="color: blueviolet; font-family: 'Gowun Batang', serif; font-size:small; text-align:right;">{{ question.ques_date|datetime }}</p>
                            </div>
                            <div class="card-body">
                                <textarea class="text-left" wrap='hard' rows='8'style="width:100%; overflow:visible;text-overflow:ellipsis; border: solid 0px; border-color:#8a2be2; border-radius:0%; padding:10px; font-size:large; line-height:120%; font-family: 'Jua', sans-serif;" readonly>{{ question.content }}</textarea>
                            </div>
                        </div>
                    </div>
                </div>
                </ul>
                
                <div class="row mb-1">
                    
                    <div class="col-11">
                        {% if g.user.member_no == question.member_no %}
                        <a href="{{ url_for('qna.questiondelete', question_no=question.question_no) }}" class="btn btn-success mx-2 mt-3" style="float:right; font-family: 'Jua', sans-serif;">삭제</a>
                        <a href="{{ url_for('qna.modify', question_no=question.question_no) }}" class="btn btn-success mx-2 mt-3" style="float:right; font-family: 'Jua', sans-serif;">수정</a>
                        {% endif %}
                    </div>
                </div>
                
                <div class="row" style="font-family: 'Gowun Batang', serif;">
                    <div class="col-1"></div>
                    <div class="col-10">
                        <h3>댓글</h3>
                        <hr>
                    </div>
                </div>
                <ul>
                    {% for questioncomment in question.questioncomment_set %}
                <div class="row">
                    <div class="col-1"></div>
                    <div class="col-10 justify-content-center">
                        <div class="card mb-2">
                            <div class="card-header">
                                <p style="color: blueviolet; font-family: 'Jua', sans-serif; font-size:large; padding:10px;">운영자</p>
                                <p style="color: blueviolet; font-family: 'Gowun Batang', serif; font-size:small; text-align:right;">{{ questioncomment.comment_date|datetime }}</p>
                            </div>
                            <div class="card-body">
                                <p style="font-family: 'Jua', sans-serif; padding:10px;">{{ questioncomment.content }}</p>
                                {% if g.user.member_type == 1 %}
                                <a href="{{ url_for('qna.answerdelete', question_comment_no=questioncomment.comment_no) }}" class="btn btn-success mt-3" style="float:right; font-family: 'Jua', sans-serif;">삭제</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
                </ul>
                {% if g.user.member_type == 1 %}
                <ul>
                <div class="row mt-5">
                    <div class="col-1"></div>
                    <div class="col-10 justify-content-center">
                        <!-- 댓글 쓸때 -->
                        <div class="card mb-2">
                            <div class="card-body">
                                <form action="{{ url_for('qna.answerwrite', question_no=question.question_no) }}" method="post">
                                    {{ form.csrf_token }}
                                    <!-- 오류표시 Start -->
                                    {% if form.errors %}
                                    <div class="alert alert-danger" role="alert">
                                        {% for field, errors in form.errors.items() %}
                                        <strong>{{ form[field].label }}</strong>
                                        <ul>
                                            {% for error in errors %}
                                            <li>{{ error }}</li>
                                            {% endfor %}
                                        </ul>
                                        {% endfor %}
                                    </div>
                                    {% endif %}
                                    <!-- 오류표시 End -->
                                    <textarea name="content" class="form-control" id="content" rows="3" style="border-color:#ffc107;"></textarea>
                                    <button type="submit"class="btn btn-success mt-3" onClick="javascript:addReply();" style="float:right; font-family: 'Jua', sans-serif;">답변 작성하기</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                </ul>
                {% endif %}
            
    
                
        </section>

        {% endblock %}
      
                    <!-- Footer-->
        <footer class="py-5 bg-warning">
            <div class="container"><p class="m-0 text-center text-white" style="font-family: 'Jua', sans-serif;">Copyright &copy; B a writer 2022</p></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
    </body>
</html>
