{% extends 'base.html' %}
{% block content %}

<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-light bg-warning">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand" href="{{url_for('main.index')}}" style="color:blueviolet; font-family: 'Jua', sans-serif;"><b>B a writer</b></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                <li class="nav-item"><a class="nav-link active" aria-current="page" href="{{url_for('main.index')}}" style="color:blueviolet; font-family: 'Jua', sans-serif;">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="{{url_for('qna.qnalist')}}" style="color:blueviolet; font-family: 'Jua', sans-serif;">QnA</a></li>
            </ul>

            {% if g.user %}
            <span class="mx-5" style="font-family: 'Jua', sans-serif;">{{ g.user.member_name }}님 안녕하세요!👋🏻</span>
            <a href="{{url_for('auth.logout')}}" class="btn btn-success" style="font-family: 'Jua', sans-serif;">로그아웃</a>
            {% else %}
            <a href="{{url_for('auth.login')}}" class="btn btn-success" style="font-family: 'Jua', sans-serif;">로그인</a>
            <a href="{{url_for('auth.register')}}" class="btn btn-success" style="margin-left: 15px; font-family: 'Jua', sans-serif;">회원가입</a>
            {% endif %}

        </div>   
    </div>
</nav>
<!-- Header-->
<header class="bg-warning py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <p class="display-4 fw-bolder nav-link" style="color:blueviolet; font-family: 'Jua', sans-serif;">문의 작성하기</p>
        </div>
    </div>
</header>
<!-- Section-->
<section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="row">
            <div class="col-1"></div>
            <div class="col-10" style="text-align: center;">
                <form method="post" class="my-3">
                    {{ form.csrf_token }}
                    <!-- 오류표시 Start -->
                    {% if form.errors %}
                    <div class="alert alert-danger" role="alert">
                        {% for field, errors in form.errors.items() %}
                        <strong>{{ form[field].label }}</strong>
                        <ul>
                            {% for error in errors %}
                            <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endfor %}
                    </div>
                    {% endif %}
                    <!-- 오류표시 End -->
                    <label for="subject"></label>
                    <p style="font-size:large;">
                        <input type=text class="form-control" id="subject" size=68 name="subject"  value="{{ form.subject.data or '' }}" placeholder="제목"></p>

                    
                    <label for="content"></label>
                    <p style="font-size:large;"><textarea class="form-control" cols=70 rows=15 wrap="hard" name=content placeholder="문의 하실 내용을 입력하세요.">{{ form.content.data or '' }}</textarea></p>
                    <button class="btn btn-success" type="submit" style="font-family: 'Jua', sans-serif;">문의 등록하기</button>
                </form>
            </div>
        </div>
    </div>
</section>

{% endblock %}