        {% extends 'base.html' %}
        {% block content %}

        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light bg-warning">
            <div class="container px-4 px-lg-5">
                <a class="navbar-brand" href="{{url_for('main.index')}}" style="color:blueviolet; font-family: 'Jua', sans-serif;"><b>B a writer</b></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="{{url_for('main.index')}}" style="color:blueviolet; font-family: 'Jua', sans-serif;">Home</a></li>
                    </ul>
                    {% if g.user %}
                    <span class="mx-5" style="font-family: 'Jua', sans-serif;">{{ g.user.member_name }}님 안녕하세요!👋🏻</span>
                    <a href="{{url_for('auth.logout')}}" class="btn btn-success" style="font-family: 'Jua', sans-serif;">로그아웃</a>
                    {% else %}
                    <a href="{{url_for('auth.login')}}" class="btn btn-success" style="font-family: 'Jua', sans-serif;">로그인</a>
                    <a href="{{url_for('auth.register')}}" class="btn btn-success" style="margin-left: 15px; font-family: 'Jua', sans-serif;">회원가입</a>
                    {% endif %}
                </div>
            </div>
        </nav>
        <!-- Header-->
        <header class="bg-warning py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <p class="display-4 fw-bolder nav-link" style="color:blueviolet; font-family: 'Jua', sans-serif;">QnA</p>
                </div>
            </div>
        </header>
        <!-- Section-->
        <div class="container px-4 px-lg-5 my-5">
            <button class="btn btn-success" type="submit" onclick="location.href='/qna/qnawrite'" style="float: right; font-family: 'Jua', sans-serif;">문의하기</button>
        </div>
        <section class="py-5">
            <div class="row mt-5">
              <div class="col-1"></div>
                <div class="col-10">
                  <div class="card">
                    <div class="card-body">
                      <table class="table table-hover" style=" margin: auto; text-align: center;">
                        <thead>
                          <tr >
                            <th scope="col">#</th>
                            <th scope="col">문의제목</th>
                            <th scope="col">문의자</th>
                            <th scope="col">작성일시</th>
                          </tr>
                        </thead>
                        <tbody>
                          {% if question_list %}
                            {% for question in question_list.items %}
                            <tr class="text-center">
                                <td scope="row" style="vertical-align:middle;">{{ question_list.total - ((question_list.page-1) * question_list.per_page) - loop.index0 }}</td>
                                <td class="text-start">
                                    <a class="nav-link" style="color: black; margin: auto; text-align: center;" href="{{ url_for('qna.QnA', question_no=question.question_no) }}">{{ question.ques_title }}</a>
                                    
                                </td>
                                <td style="vertical-align:middle;">{{ question.member_no }}</td>
                                <td style="vertical-align:middle;">{{ question.ques_date|datetime }}</td>
                            </tr>
                            {% endfor %}
                            {% else %}
                            <tr>
                                <td colspan="4">QnA가 없습니다.</td>
                            </tr>
                            {% endif %}
                        

                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
            </div>  
         
            
        </section>




       
        <!-- 페이징처리 시작 -->
        <div class="row">
          <div class="col mb-5"> 
              <ul class="pagination justify-content-center">

              <!-- 이전페이지 -->
              {% if question_list.has_prev %}
              
              <li class="page-item">
                <a class="page-link" data-page="?page={{ question_list.prev_num }}" href="javascript:void(0)" style="background-color:blueviolet; color:#fff; font-family: 'Jua', sans-serif;">Previous</a>
              </li>

              {% else %}
              
              <li class="page-item disabled">
                <a class="page-link" tabindex="-1" aria-disabled="true" href="javascript:void(0)" style="background-color:blueviolet; color:#fff; font-family: 'Jua', sans-serif;">Previous</a>
              </li>

              {% endif %}
              {% for page_num in question_list.iter_pages() %}
              {% if page_num %}
              {% if page_num != question_list.page %}

              <li class="page-item">
                <a class="page-link" href="?page={{ page_num }}" style="background-color:blueviolet; color:#fff; font-family: 'Jua', sans-serif;">{{ page_num }}</a>
              </li>

              {% else %}
              
              <li class="page-item active" aria-current="page">
                <a class="page-link" href="javascript:void(0)" style="background-color:blueviolet; color:#fff; font-family: 'Jua', sans-serif;">{{ page_num }}</a>
              </li>

              {% endif %}
              {% else %}
              <li class="disabled">
                  <a class="page-link" href="javascript:void(0)" style="background-color:blueviolet; color:#fff; font-family: 'Jua', sans-serif;">...</a>
              </li>
              {% endif %}
              {% endfor %}
              <!-- 다음페이지 -->
              {% if question_list.has_next %}
              
              <li class="page-item">
                <a class="page-link" data-page="?page={{ question_list.next_num }}" href="javascript:void(0)" style="background-color:blueviolet; color:#fff; font-family: 'Jua', sans-serif;">Next</a>
              </li>

              {% else %}
              
              <li class="page-item disabled">
                <a class="page-link" tabindex="-1" aria-disabled="true" href="javascript:void(0)" style="background-color:blueviolet; color:#fff; font-family: 'Jua', sans-serif;">Next</a>
              </li>
              {% endif %}
          </ul>
          <!-- 페이징처리 끝 -->
            </div>
        </div>
         
        {% endblock %}
