<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>B a writer</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="css/styles.css" rel="stylesheet" />
        <!-- Font -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">
        <!-- font-family: 'Jua', sans-serif; -->
    </head>
    <body>
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light bg-warning">
            <div class="container px-4 px-lg-5">
                <a class="navbar-brand" href="#!" style="color:blueviolet; font-family: 'Jua', sans-serif;"><b>B a writer</b></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="#!" style="color:blueviolet; font-family: 'Jua', sans-serif;">Home</a></li>
                    </ul>
                    <form class="d-flex">
                        <button class="btn btn-success" type="submit" style="font-family: 'Jua', sans-serif;">로그인</button>
                        <button class="btn btn-success" type="submit" style="margin-left: 15px; font-family: 'Jua', sans-serif;">회원가입</button>
                    </form>
                </div>
            </div>
        </nav>
        <!-- Header-->
        <header class="bg-warning py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <a class="display-4 fw-bolder nav-link" href="#!" style="color:blueviolet; font-family: 'Jua', sans-serif;">QnA</a>
                </div>
            </div>
        </header>
        <!-- Section-->
        <div class="container px-4 px-lg-5 my-5">
            <button class="btn btn-success" type="submit" style="float: right; font-family: 'Jua', sans-serif;">문의하기</button>
        </div>
        <section class="py-5">
            <div class="row mt-5">
              <div class="col-1"></div>
                <div class="col-10">
                  <div class="card">
                    <div class="card-body">
                      <table class="table table-hover" >
                        <thead>
                          <tr >
                            <th scope="col">#</th>
                            <th scope="col">문의제목</th>
                            <th scope="col">문의자</th>
                            
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <th scope="row" style="vertical-align:middle;">1</th>
                            <td><a class="nav-link" style="color: black;" href="#!">하기싫다</a></td>
                            <td style="vertical-align:middle;">정희창</td>
            
                          </tr>
                          <tr>
                            <th scope="row" style="vertical-align:middle;">2</th>
                            <td><a class="nav-link" style="color: black;" href="#!">숲속마을아파트</a></td>
                            <td style="vertical-align:middle;">송영근</td>
                         
                          </tr>
                          <tr>
                            <th scope="row" style="vertical-align:middle;">3</th>
                            <td><a class="nav-link" style="color: black;" href="#!">강남</a></td>
                            <td style="vertical-align:middle;">안서연</td>
                          </tr>
                          <tr>
                            <th scope="row" style="vertical-align:middle;">4</th>
                            <td><a class="nav-link" style="color: black;" href="#!">집사</a></td>
                            <td style="vertical-align:middle;">조우리</td>
                          </tr>
                          <tr>
                            <th scope="row" style="vertical-align:middle;">5</th>
                            <td><a class="nav-link" style="color: black;" href="#!">halfstone</a></td>
                            <td style="vertical-align:middle;">이반석</td>
                          </tr>
                          <tr>
                            <th scope="row" style="vertical-align:middle;">6</th>
                            <td><a class="nav-link" style="color: black;" href="#!">구리</a></td>
                            <td style="vertical-align:middle;">조수빈</td>
                          </tr>
                          <tr>
                            <th scope="row" style="vertical-align:middle;">7</th>
                            <td><a class="nav-link" style="color: black;" href="#!">희동집사</a></td>
                            <td style="vertical-align:middle;">조우리</td>
                          </tr>
                          <tr>
                            <th scope="row" style="vertical-align:middle;">8</th>
                            <td><a class="nav-link" style="color: black;" href="#!">이두박근영근</a></td>
                            <td style="vertical-align:middle;">송영근</td>
                          </tr>
                          <tr>
                            <th scope="row" style="vertical-align:middle;">9</th>
                            <td><a class="nav-link" style="color: black;" href="#!">개졸림</a></td>
                            <td style="vertical-align:middle;">정희창</td>
                          </tr>
                          <tr>
                            <th scope="row" style="vertical-align:middle;">10</th>
                            <td><a class="nav-link" style="color: black;" href="#!">목소리키우세요</a></td>
                            <td style="vertical-align:middle;">이반석</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
            </div>  
         
            
        </section>
        <div class="row">
            <div class="col mb-5"> 
                <ul class="pagination justify-content-center">
                    <li class="page-item"><a class="page-link" href="#" style="background-color:blueviolet; color:#fff; font-family: 'Jua', sans-serif;">Previous</a></li>
                    <li class="page-item"><a class="page-link" href="#" style="background-color:blueviolet; color:#fff; font-family: 'Jua', sans-serif;">1</a></li>
                    <li class="page-item"><a class="page-link" href="#" style="background-color:blueviolet; color:#fff; font-family: 'Jua', sans-serif;">2</a></li>
                    <li class="page-item"><a class="page-link" href="#" style="background-color:blueviolet; color:#fff; font-family: 'Jua', sans-serif;">3</a></li>
                    <li class="page-item"><a class="page-link" href="#" style="background-color:blueviolet; color:#fff; font-family: 'Jua', sans-serif;">4</a></li>
                    <li class="page-item"><a class="page-link" href="#" style="background-color:blueviolet; color:#fff; font-family: 'Jua', sans-serif;">5</a></li>
                    <li class="page-item"><a class="page-link" href="#" style="background-color:blueviolet; color:#fff; font-family: 'Jua', sans-serif;">Next</a></li>
                </ul>
            </div>
        </div>
        <!-- Footer-->
        <footer class="py-5 mt-5 bg-warning">
            <div class="container"><p class="m-0 text-center text-white" style="font-family: 'Jua', sans-serif;">Copyright &copy; B a writer 2022</p></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
    </body>
</html>
